.campus-card {
    margin-top: 60px;
    margin-bottom: 130px;
  }
  
  .card-info {
    padding: 10px;
  }
  
  .card-body {
    padding: 100;
  }
  
  .info-item {
    margin-bottom: 5px;
  }
  